# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6a06b77dfc7ed2c6beb505aec876699992ad0601cac5795c512ded0d4ab601c0396fcda38b14c6562ec5a451c85140e6d6f7a9422f771a0b79595c02d5fa904f

test:
  secret_key_base: ebcc2b0bfbf04ce42c07747f21c00b6f947dbb87202ae33d97b9a293d6d484e51f3650ded517be9853d7f7fac0c9baa9fc7f75e085ea4dee821b56efff98ff71

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
