// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  border-top: 1px dotted $gray-lighter;
  margin: 5em 0;
}

html {
  height: 100%;
}

#map-container {
  //background: #999999;
  height: 500px;
}
